* {
  margin:0vw;
  padding:0vw;
}
li {
  list-style:none;
}
a {
    text-decoration:none;
    color:#212121;
}
body {
    background-color:#fbf9fa;
    color:#212121;
}

header {
  background-color: #ffff33;
  width: 100vw;
  height:7vw;
  font-family: "Impact";
}
@media (max-width:1000px) {
  header {
    height:10vw;
  }
}
.title h1 {
    font-size:70px;
    text-align: center;
    padding-top:1vw;
    letter-spacing:4px;
}
.photo img {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
}
.photo {
  margin-top: 5vw;
  display: block;
  margin-left:25%;
}
.content {
    display: flex;
}
@media (max-width:1000px) {
.content {
    margin-top: 5vw;
  }
}
.name {
    font-size: 50px;
    padding:8vw 0 0 5vw;
    letter-spacing:3px;
    font-family: "Impact";
}
.comment {
  width: 100%;
  text-align: center;
  margin-top: 5vw;
  font-size: 20px;
}
@media (max-width:1000px) {
.comment {
    margin-top: 10vw;
    font-size: 40px;
  }
}
.comment p {
  width: 80%;
  margin: auto;
  letter-spacing:2px;
}
@media (max-width:1000px) {
.comment p {
    width: 80%;
  }
}
footer {
    background-color: #ffff33;
    width: 100%;
    height: 3vw;
    margin-top: 3vw;
}
@media (max-width:1000px) {
footer {
  display: none;
  }
}
